<style>
  .delete:checked + span{
    color: red;
  }

  .task-list{
    list-style: none;
  }
</style>

<form method="post" action="/task/add">
  <label>Add task</label>
  <input type="text" name = "task" placeholder="Add task">
  <input type="submit" value="Submit">
</form>

<%= title%>

<form method="POST", action="/task/delete">
  <ul class="task-list">
  <% tasks.forEach((task) => { %>
    <li>
      <label>
        <input type="checkbox" name="tasks" class="delete" value="<%=task%>"><span><%= task%></span>
      </label>
    </li>
  <%})%>
  </ul>
  <input type="submit" value="Remove ">
</form>
