<form method="post" action="/task/add">
  <label>Add task</label>
  <input type="text" name = "task" placeholder="Add task">
  <input type="submit" value="Submit">
</form>

<%= title%>
<ul>
<% tasks.forEach((task) => { %>
  <li><%= task%></li>
<%})%>
</ul>
